@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
body {
  color: white;
}
body,
h1,
h2,
h3,
h4,
a,
p {
  font-family: "DM Sans", sans-serif;
}
.sub-text {
  color: #bdbdbd;
}
